doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/fira-sans/latin.css')
    link(rel='stylesheet', href='/fira-mono/latin.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    include scripts.pug
  body
    h1 ABCD data acquisition system launcher
    block content