doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/fira-sans/latin.css')
    link(rel='stylesheet', href='/fira-mono/latin.css')
    link(rel='stylesheet', href='/material-icons/index.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    include scripts.pug
  body
    block content
