extends layout

block content
  h1 ABCD data acquisition system
  h2 Hostname
  p #{hostname}
  h2 Module
  p.good_status Module type: #{type}
  h2 Name
  p Module name: #{name}
  p.material-icons coffee hotel
