script(src='/jquery/jquery.js')
script(src='/lodash/lodash.js')
script(src='/dayjs/dayjs.min.js')
script(src='/dayjs/plugin/duration.js')
script(src='/dayjs/plugin/localizedFormat.js')
script(src='/humanize-duration/humanize-duration.js')
script(src='/file-size/index.js')
script(src='/plotly.js/plotly.js')
script(src='/socket.io/socket.io.js')
script(src='/static/javascripts/utilities.js')