script(src='/jquery/jquery.js')
script(src='/lodash/lodash.js')
script(src='/moment/moment-with-locales.js')
script(src='/humanize-duration/humanize-duration.js')
script(src='/file-size/index.js')
script(src='/plotly.js/plotly.js')
script(src='/socket.io/socket.io.js')
script(src='/static/javascripts/utilities.js')