extends layout

block content
  script(src='/fmin/fmin.js' type="text/javascript" charset="utf-8")
  script(src='/static/javascripts/spec.js')
  script(src='/static/javascripts/fitting.js')

  h2 On-line spectra calculator
  div.display 
    h3 Plot display
    fieldset 
      legend Controls
      p
        label Show channel: #[select(id="channel_select")] 
      p
        button(id="button_fit_energy") Fit visible
        button(id="button_clear_fit") Clear fits
      p
        button(id="button_download_spectrum_data") Download spectrum data 
    div#plot_spectrum.plot_display
  div.display 
    h3 Fits
    div#fits_results
  div.display 
    h3 Channels rates
    div#channels_rates
  div.display 
    h3 Status
    fieldset 
      legend Commands
      p
        button(id="button_config_send") Send configuration
        button(id="button_reset_channel") Reset channel
        button(id="button_reset_all") Reset all
    div#module_status
  div.display 
    h3 Events log
    div#events_log
  div.display 
    h3 Connection status
    p #[strong Computer hostname:] #{hostname}
    p #[strong Name:] #{name} of type #{type}
    p #[strong Webserver connection:] #[span#wit_connection_status.unknown_status No connection]
    p #[strong Module connection:] #[span#module_connection_status.unknown_status No connection]
  div.display 
    h3 User interface settings
    p
      label Expiration time [s]:
        input(type="number" id="time_expiration" value="10")
    p
      label Refresh time [s]:
        input(type="number" id="time_refresh" value="4")
