extends layout

block content
  script(src='/ace/ace.js' type="text/javascript" charset="utf-8")
  script(src='/fmin/fmin.js' type="text/javascript" charset="utf-8")
  script(src='/static/javascripts/tofcalc.js')
  script(src='/static/javascripts/fitting.js')

  h2 On-line Time-of-Flight calculator
  div.display 
    h3 Plot display
    fieldset 
      legend Controls
      p
        label Show channel: #[select(id="channel_select")] 
      p
        button(id="button_fit_ToF") Fit visible ToF
        button(id="button_fit_energy") Fit visible spectrum
        button(id="button_clear_fit") Clear fits
      p
        button(id="button_download_ToF_data") Download ToF data 
        button(id="button_download_spectrum_data") Download spectrum data 
      p
        button(id="button_reset_channel") Reset current channel
        button(id="button_reset_all") Reset all
    div#plot_ToF.plot_display
  div.columns
    div.column
      div.display 
        h3 Fits
        div#fits_results
    div.column
      div.display 
        h3 Channels rates
        div#channels_rates
    div.column
      div.display 
        h3 Channels counts
        div#channels_counts
  div.display 
    h3 Status
    fieldset 
      legend Commands
      button(id="button_config_send") Send configuration
      button(id="button_config_get") Get configuration
      button(id="button_config_download") Download configuration
    p
      div#online_editor
  div.display 
    h3 Events log
    div#events_log
  div.display 
    h3 Connection status
    p #[strong Computer hostname:] #{hostname}
    p #[strong Name:] #{name} of type #{type}
    p #[strong Webserver connection:] #[span#wit_connection_status.unknown_status No connection]
    p #[strong Module connection:] #[span#module_connection_status.unknown_status No connection]
  div.display 
    h3 User interface settings
    p
      label Expiration time [s]:
        input(type="number" id="time_expiration" value="10")
    p
      label Refresh time [s]:
        input(type="number" id="time_refresh" value="4")
