extends layout

block content
  script(src='/static/javascripts/waan.js')
  script(src='/ace/ace.js' type="text/javascript" charset="utf-8")

  h2 Waveforms analysis
  div.columns
    div.column
      div.display 
        h3 Channels rates
        div#channels_rates
    div.column
      div.display 
        h3 Active channels
        div#active_channels
    div.column
      div.display 
        h3 Channels that are not analyzed
        div#disabled_channels
  div.display 
    h3 Analysis configuration
    fieldset
      legend Configuration controls
      button(id="button_config_send") Send configuration
      button(id="button_config_get") Get configuration
      button(id="button_config_download") Download configuration
    p
      div#online_editor
  div.display 
    h3 Events log
    div#events_log
  div.display 
    h3 Connection status
    p #[strong Computer hostname:] #{hostname}
    p #[strong Name:] #{name} of type #{type}
    p #[strong Webserver connection:] #[span#wit_connection_status.unknown_status No connection]
    p #[strong Module connection:] #[span#module_connection_status.unknown_status No connection]
  div.display 
    h3 User interface settings
    p
      label Expiration time [s]:
        input(type="number" id="time_expiration" value="10")
