Source: abcd
Build-Depends:
 cmake,
 tmux,
 pkg-config,
 libspdlog-dev,
 libfmt-dev,
 libzmq3-dev,
 libjansson-dev,
 libjsoncpp-dev,
 libgsl-dev,
 libgslcblas0,
 zlib1g-dev,
 libbz2-dev,
 lua5.4,
 liblua5.4-dev,
 swig,
 python3,
 python3-zmq,
 python3-numpy,
 python3-scipy,
 python3-matplotlib,
 nodejs,
 npm