body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 12pt;
}
h1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-size: 300%;
}
h2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 150%;
}
h3 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  display: inline-block;
}
.display {
  border: 2px dashed #a9a9a9;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  text-align: left;
  color: #333333;
}
.good_status {
  color: #338033;
}
.good_status:before {
  content: "\f00c";
  font-family: "FontAwesome";
  margin-right: 1ex;
}
.bad_status {
  color: #803333;
}
.bad_status:before {
  content: "\f00d";
  font-family: "FontAwesome";
  margin-right: 1ex;
}
.unknown_status * {
  color: #a9a9a9;
}
.unknown_status:before {
  content: "\f128";
  font-family: "FontAwesome";
  margin-right: 1ex;
}
.custom-slider {
  width: 4.62em;
  height: 2.2em;
  border: 0.1ex solid #666666;
  border-radius: 2.2em;
  display: inline-block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}
.custom-slider input {
  display: none;
}
.custom-slider .cursor {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #cccccc;
  border-radius: 1.7em;
  transition: all 0.5s ease;
}
.custom-slider .cursor:after {
  position: absolute;
  left: 0.5ex;
  bottom: 0.5ex;
  width: 1.7em;
  height: 1.7em;
  border-radius: 1.7em;
  line-height: 1.7em;
  content: "off";
  text-align: center;
  padding: 0;
  vertical-align: center;
  color: black;
  font-family: "Fira Sans";
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  background-color: white;
  transition: all 0.5s ease;
}
.custom-slider input:checked + .cursor {
  background-color: #ce3e3e;
}
.custom-slider input:focus + .cursor {
  box-shadow: 0 0 1px #2196F3;
}
.custom-slider input:checked + .cursor:after {
  content: "on";
  transform: translateX(2.42em);
}
.hidden {
  display: none;
}
pre {
  font-family: "Fira Mono", monospace;
}
.ace_editor {
  margin: 10px;
  padding: 10px;
  height: 500px;
  border: 1px solid #DDD;
  border-radius: 5px;
}
button#abcd_start:before {
  content: "\f0f4";
  font-family: "FontAwesome";
  margin-right: 1ex;
}
button#abcd_stop:before {
  content: "\f236";
  font-family: "FontAwesome";
  margin-right: 1ex;
}
